body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNpr5JUSoea-kUMfchuCj_zBmQczokJKlUuA&s");
  background-repeat: repeat;
}

h1 {
  text-align: center;
  color: white;
}
